[package]
name = "cosmwasm-schema"
version = "1.1.9+0.8.1"
authors = ["LINE Plus Corporation"]
edition = "2021"
description = "A dev-dependency for CosmWasm contracts to generate JSON Schema files."
repository = "https://github.com/Finschia/cosmwasm/tree/main/packages/schema"
license = "Apache-2.0"

[dependencies]
cosmwasm-schema-derive = { version = "=1.1.9+0.8.1", path = "../schema-derive" }
schemars = "0.8.3"
serde = "1.0"
serde_json = "1.0.40"
thiserror = "1.0.13"

[dev-dependencies]
anyhow = "1.0.57"
semver = "1"
tempfile = "3"
