style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/line/cosmwasm
options:
  tag_filter_pattern: '^v\d+\.\d+\.\d[+-]\d+\.\d+\.\d+-dynamiclink.+$'
  commits:
    filters:
      Type:
        - feat
        - fix
        - perf
        - refactor
        - build
        - ci
        - docs
  commit_groups:
    title_maps:
      feat: Features
      fix: Fixes
      perf: Improvements
      refactor: Code Refactoring
      build: Changes
  header:
    pattern: "^(\\w*)(?:\\(([\\w\\$\\.\\-\\*\\s]*)\\))?\\:\\s(.*)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
